<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yp.foodmall.store.mapper.IStoreMapper">
    <resultMap id="storeMapper" type="com.yp.foodmall.common.entity.Store">
        <id property="storeId" column="storeId"/>
        <result property="storeName" column="storeName"/>
        <result property="storeGrade" column="storeGrade"/>
        <result property="license" column="license"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="createTime"/>
        <result property="deleteEnable" column="deleteEnable"/>
        <result property="management" column="management"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <insert id="insertStore">
        insert into store (storeId,storeName,storeGrade,license,phone,createTime,deleteEnable, management) values
        (#{storeId},#{storeName},#{storeGrade},#{license},#{phone},#{createTime},#{deleteEnable}, #{management})
    </insert>

    <update id="deleteStoreById">
        update store set deleteEnable = 1 where storeId = #{storeId}
    </update>

    <update id="updateStore">
        update store
        <set>
            <if test="storeName != null">
                storeName = #{storeName},
            </if>
            <if test="storeGrade != null">
                storeGrade = #{storeGrade},
            </if>
            <if test="storeName != null">
                storeName = #{storeName},
            </if>
            <if test="license != null">
                license = #{license},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="management != null">
                management=#{management},
            </if>
            <if test="deleteEnable != null">
                deleteEnable = #{deleteEnable},
            </if>
            updateTime = #{updateTime}
        </set>
        where storeId = #{storeId}
    </update>

    <select id="selectStoreById" resultMap="storeMapper">
        select * from store where storeId = #{storeId}
    </select>

    <select id="selectStoreList" resultMap="storeMapper">
        select storeName, storeGrade,license,phone from store
        where  management=#{management} and deleteEnable = 0
        order by storeGrade desc
    </select>

</mapper>