<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yp.foodmall.food.mapper.IComMapper">
    <resultMap id="commodityMapper" type="com.yp.foodmall.common.entity.Commodity">
        <id property="id" column="id"/>
        <result property="comNumber" column="comNumber"/>
        <result property="comName" column="comName"/>
        <result property="message" column="message"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="stock" column="stock"/>
        <result property="exTime" column="exTime"/>
        <result property="taste" column="taste"/>
        <result property="mfrsNumber" column="mfrsNumber"/>
        <result property="pack" column="pack"/>
        <result property="weight" column="weight"/>
        <result property="grade" column="grade"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime" />
        <result property="deleteEnable" column="deleteEnable"/>
        <result property="sales" column="sales"/>
        <association property="category" column="categoryId" resultMap="categoryMapper"/>
        <association property="store" column="storeId" resultMap="storeMapper"/>
    </resultMap>

    <resultMap id="storeMapper" type="com.yp.foodmall.common.entity.Store">
        <id property="storeId" column="storeId"/>
        <result property="storeName" column="storeName"/>
        <result property="storeGrade" column="storeGrade"/>
        <result property="license" column="license"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="createTime"/>
        <result property="deleteEnable" column="deleteEnable"/>
        <association property="master" column="masterId" resultMap="masterMapper"/>
    </resultMap>

    <resultMap id="masterMapper" type="com.yp.foodmall.common.entity.Master">
        <id property="masterId" column="masterId"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="question" column="question"/>
        <result property="answer" column="question"/>
        <result property="profit" column="profit"/>
    </resultMap>

    <resultMap id="categoryMapper" type="com.yp.foodmall.common.entity.Category">
        <id property="categoryId" column="categoryId"/>
        <result property="categoryName" column="categoryName"/>
        <result property="composition" column="composition"/>
        <result property="categoryMessage" column="categoryMessage"/>
    </resultMap>



    <insert id="insertCom">
        insert into commodity
        (comNumber, comName,message,price,image,stock,
        exTime,taste,mfrsNumber,pack,weight,grade,createTime,updateTime,deleteEnable,sales, categoryId, storeId) values
        (#{comNumber},#{comName},#{message},#{price},#{image}
        ,#{stock},#{exTime},#{taste},#{mfrsNumber},#{pack},#{weight},#{grade},#{createTime},#{updateTime},#{deleteEnable},#{sales}, #{category.categoryId},#{store.storeId})
    </insert>

<!--    <insert id="deleteCom">-->
<!--        delete from commodity where comNumber = #{comNumber}-->
<!--    </insert>-->
    <update id="deleteCom">
        update commodity set deleteEnable = 1 where id=#{id}
    </update>

    <update id="updateCom">
        update commodity
            <set>
                <if test="comName != null">
                    comName=#{comName},
                </if>
                <if test="message != null">
                    message=#{message},
                </if>
                <if test="price != null">
                     price=#{price},
                </if>
                <if test="image != null">
                    image=#{image},
                </if>
                <if test="stock != null">
                    stock=#{stock},
                </if>
                <if test="pack != null">
                    pack=#{pack}
                </if>
            </set>
    </update>

    <select id="selectOneByNUmber" resultMap="commodityMapper">
        select commodity.*, category.*
        from commodity left outer join category on commodity.categoryId = category.categoryId
        where commodity.id = #{comId} and commodity.deleteEnable = 0
    </select>

    <select id="selectList" resultMap="commodityMapper">
        select commodity.*, category.*
        from commodity left outer join category on commodity.categoryId = category.categoryId
        <where>
            <if test="category != null">
                category.categoryId = #{category.categoryId}
            </if>
            <if test="store != null">

            </if>
            <if test="taste != null">
                and taste = #{taste}
            </if>
            <if test="mfrsNumber != null">
                and mfrsNumber = #{mfrsNumber}
            </if>
            and deleteEnable = 0
        </where>

    </select>

    <insert id="insertCategory">
        insert into category (categoryId, categoryName, categoryMessage, composition) values
        (#{categoryId}, #{categoryName}, #{categoryMessage}, #{composition})
    </insert>

    <delete id="deleteCategory">
        delete from category where categoryId = #{categoryId}
    </delete>

    <update id="updateCategory">
        update category
        <set>
            <if test="categoryName != null">
                categoryName=#{categoryName},
            </if>
            <if test="categoryMessage != null">
                categoryMessage=#{categoryMessage},
            </if>
            <if test="composition != null">
                composition=#{composition}
            </if>
        </set>
        where categoryId=#{categoryId}

    </update>
</mapper>