<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美食商城主页</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">

        <el-row style="width: 50%">
            <el-col :span="8" v-for="commodity in commoditys">
                <el-card :body-style="{ padding: '0px' }">
                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" class="image">
                    <div style="padding: 14px;">
                        <span>{{commodity.comName}}</span>
                        <div class="bottom clearfix">
                            <span>{{commodity.createTime}}</span>
                            <el-button type="text" class="button">操作按钮</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>


        <el-button type="text" @click="dialogVisible1 = true">注册</el-button>

        <el-dialog
                title="注册"
                :visible.sync="dialogVisible1"
                width="30%"
                :before-close="handleClose">
            <span>
                <el-radio-group size="small">
</el-radio-group>
<div style="margin: 20px;"></div>
<el-form :label-position="left" label-width="80px" :model="formLabelAlign">
  <el-form-item label="comName">
    <el-input v-model="commodity.comName"></el-input>
  </el-form-item>
  <el-form-item label="taste">
    <el-input v-model="commodity.taste"></el-input>
  </el-form-item>
</el-form>
            </span>
            <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="rejister()">确 定</el-button>
  </span>
        </el-dialog>


    </div>
    <style>

        .bottom {
            margin-top: 13px;
            line-height: 12px;
        }

        .button {
            padding: 0;
            float: right;
        }

        .image {
            width: 200px;
            display: block;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }
    </style>
    <script src="../js/indexCommodity.js" type="text/javascript"></script>
</body>
</html>


