<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" style="width: 80%;margin: auto" >
    <!--导航界面-->
    <el-menu
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item>
            <el-button type="text" @click="dialogVisible1 = true" icon="el-icon-user">登录</el-button>
            <el-dialog
                    title="提示"
                    :visible.sync="dialogVisible1"
                    width="30%"
                    :before-close="handleClose">
                <span>
                    <el-form :model="ruleForm2" ref="user" label-width="100px" class="demo-ruleForm">
                      <el-form-item label="用户名" prop="name" required>
                        <el-input v-model="user.userName"></el-input>
                      </el-form-item>
                      <el-form-item label="登录密码" prop="pass" required>
                        <el-input v-model="user.userPassword"></el-input>
                      </el-form-item>
                      <el-form-item>
                        <el-button type="primary" @click="login()">登录</el-button>
                        <el-button @click="resetForm('user')">重置</el-button>
                      </el-form-item>
                    </el-form>
                </span>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible1 = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible1 = false">确 定</el-button>
                 </span>
            </el-dialog>

        <!--注册-->
        </el-menu-item>
        <el-menu-item>
            <el-button type="text" @click="dialogVisible2 = true" >注册</el-button>
            <el-dialog
                    title="提示"
                    :visible.sync="dialogVisible2"
                    width="30%"
                    :before-close="handleClose">
                <span>
                    <el-form :model="ruleForm" ref="user" label-width="100px" class="demo-ruleForm">
                      <el-form-item label="用户名" prop="name" required>
                        <el-input v-model="user.userName"></el-input>
                      </el-form-item>
                      <el-form-item label="登录密码" prop="pass1" required>
                        <el-input v-model="user.userPassword"></el-input>
                      </el-form-item>
                      <el-form-item label="电话" required>
                        <el-input v-model.number="user.userPhone"></el-input>
                      </el-form-item>
                      <el-form-item label="头像" >
                        <el-input v-model="user.userImage"></el-input>
                      </el-form-item>
                        <el-form-item label="余额" prop="money" required>
                        <el-input v-model="user.money"></el-input>
                      </el-form-item>
                      <el-form-item label="支付密码" prop="pass2" required>
                        <el-input v-model="user.moneyPassword"></el-input>
                      </el-form-item>
                      <el-form-item label="地址"  required>
                        <el-input v-model="user.userAddress"></el-input>
                      </el-form-item>
                      <el-form-item>
                        <el-button type="primary" @click="register()">立即创建</el-button>
                        <el-button @click="resetForm('user')">重置</el-button>
                      </el-form-item>
                    </el-form>
                </span>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible2 = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
                 </span>
            </el-dialog>

        </el-menu-item>
        <el-submenu index="3">
            <template slot="title">我的工作台</template>
            <el-menu-item index="3-1" @click="second_first()">选项1</el-menu-item>
            <el-menu-item index="3-2">选项2</el-menu-item>
            <el-menu-item index="3-3">选项3</el-menu-item>
            <el-submenu index="3-4">
                <template slot="title">选项4</template>
                <el-menu-item index="3-4-1">选项1</el-menu-item>
                <el-menu-item index="3-4-2">选项2</el-menu-item>
                <el-menu-item index="3-4-3">选项3</el-menu-item>
            </el-submenu>
        </el-submenu>
        <el-menu-item index="3" disabled>消息中心</el-menu-item>
        <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>

    <!--图片走马灯-->
    </el-menu>

    <template>
        <div class="block" w>
            <el-carousel :interval="4000" type="card" height="300px" width="600px">
                <el-carousel-item v-for="item in sc" >
                    <h3 class="small"><el-image fit="cover" :src="item"></el-image></h3>
                </el-carousel-item>
            </el-carousel>
        </div>
    </template>

    <span >
        <img style="width: 120px;margin: auto"
             src="https://img10.360buyimg.com/img/jfs/t1/159353/17/2928/457625/5ffd107fE2b4a7a10/e0ab266497850f64.gif">
        <el-input style="width: 1000px"
                  placeholder="请输入内容"
                  prefix-icon="el-icon-search"
                  v-model="input2">
    </el-input>
    </span>
    <br>
    <element style="width: 20px;font-size: 40px; color: coral; font-family: arial">
        销量爆棚
    </element>
    <el-row style="width: 80%">
        <el-col :span="8" v-for="commodity in commoditys">
            <el-card :body-style="{ padding: '0px' }">
                <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" class="image">
                <div style="padding: 14px;">
                    <span>{{commodity.comName}}</span>
                    <div class="bottom clearfix">
                        <span>{{commodity.createTime}}</span>
                        <a type="primary" :href="'commodityShow.html?id='+commodity.id+''">Go</a>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
<br>
<br>

<div id="commodity" style="margin: auto;width: 80%">


</div>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>

<style>

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        width: 200px;
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>

<script src="../js/index1.js" type="text/javascript"></script>


</body>
</html>